<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)
Copyright (c) 2015 Joel De La Torriente - jjdltc - http://www.jjdltc.com/
See a full copy of license in the root folder of the project 
-->

<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.jjdltc.cordova.plugin.sqlite.dbFile"
    version="1.1.0">

    <name>JJdbFile</name>
    <description>Connect to sqlite file and interact with it</description>
    <author>Joel De La Torriente - jjdltc@gmail.com - https://github.com/jjdltc</author>
    <license>MIT</license>    
    <keywords>cordova,sqlite,db,sql</keywords>
    <repo>https://github.com/jjdltc/jjdltc-cordova-plugin-dbfile.git</repo>
    <issue>https://github.com/jjdltc/jjdltc-cordova-plugin-dbfile/issues</issue>

    <js-module src="www/JJdbFile.js" name="JJdbFile">
        <clobbers target="JJdbFile" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJdbFile" >
                <param name="android-package" value="org.jjdltc.cordova.plugin.sqlite.JJdbFile"/>
            </feature>
        </config-file>

        <source-file src="src/android/JJdbFile.java" target-dir="src/org/jjdltc/cordova/plugin/sqlite" />
        <source-file src="src/android/queryBuilder.java" target-dir="src/org/jjdltc/cordova/plugin/sqlite" />
        <source-file src="src/android/ScheduleTask.java" target-dir="src/org/jjdltc/cordova/plugin/sqlite" />
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JJdbFile">
                <param name="ios-package" value="JJdbFile" />
            </feature>
        </config-file>

        <source-file src="src/ios/JJdbFile.h" />
        <source-file src="src/ios/JJdbFile.m" />
        <source-file src="src/ios/queryBuilder.h" />
        <source-file src="src/ios/queryBuilder.m" />

        <framework src="FMDB" type="podspec" spec="~> 2.7.4" />
    </platform>
</plugin>
